.app {
  background-image: url('../src/images/home_bg.jpeg');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: auto;
}

hr {
  margin: 10px 0px;
}





